* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000;
  text-rendering: optimizeLegibility;
  /*Mac dinh la: 16px;*/
}
/*===================================HEADER===================================*/

header{
  display: block;
  height: 0;
}
.top{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: all .3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 59px;
  display: block;
  z-index: 10;
  background-color: #fff;
}
        /*============================Logo============================*/
.logo{
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  animation: scaleLarge .9s forwards;
  -webkit-animation: scaleLarge .9s forwards;
  opacity: 0;
  left: 65px;
  top: 8px;
  width: 120px;
  height: 140px;
  position: fixed;
  z-index: 12;
}
.logo-company{
  width: 100%;
  height: 100%;
  background: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
        /*============================Logo============================*/

    /*============================SEARCH BUTTON============================*/
.search-but{
  position: fixed;
  display: block;
  right: 140px;
  top: 4px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  animation: fadeInDown .5s forwards;
  -webkit-animation: fadeInDown .5s forwards;
  z-index: 12;
}
.search-but:hover a{
  background-color: #b79fe0;
}
.search-but a{
  width: 100%;
  height: 100%;
  background: url(../img/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: rgba(198,0,15,0);
  -webkit-background-size: 80%;
  font-size: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  transition: all .3s ease-in-out;
}

.search-form{
  top: 2px;
  position: fixed;
  right: 170px;
  width: 300px;
  height: auto;
  opacity: 0;
  background-color: #fff;
  border: 1px solid #b1b1b1;
  box-shadow: 3px 3px 0 rgba(0,0,0,.1);
  transition: all .3s ease-in-out;
  border-radius: 30px;
  display: block;
  overflow: hidden;
  z-index: 13;
}
.form-row-search{
  position: relative;
  width: 100%;
  height: auto;
}
.form-row-search input[type=text]{
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 95%;
  color: #333;
  line-height: 42px;
  border: none;
  background: 0 0;
  opacity: .7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-radius: 30px;
}
    /*============================SEARCH BUTTON============================*/
      /*============================LANGUAGE============================*/
.language{
  position: fixed;
  top: 4px;
  right: 90px;
  opacity: 0;
  width: 40px;
  height: 40px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  animation: fadeInDown .5s forwards;
  -webkit-animation: fadeInDown .5s forwards;
  z-index: 12;
}
.language a{
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 38px;
  border: 1px solid #3c68b2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #3c68b2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.language:hover a{
  background-color: #3c68b2;
  color: #fff;
}
      /*============================LANGUAGE============================*/
   /*============================USER/REGISTER============================*/
.user-box{
  position: fixed;
  display: block;
  top: 60px;
  right: 140px;
  width: auto;
  height: auto;
  padding: 10px 0 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  background: url(../img/user-bg.png) #b1acde;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  animation: fadeInUp .8s forwards;
  -webkit-animation: fadeInUp .8s forwards;
  opacity: 0;
  z-index: 12;
}
.user-box::before {
    position: absolute;
    left: 50%;
    top: -12px;
    display: block;
    width: 24px;
    height: 13px;
    margin: 0 0 0 -12px;
    background: url(../img/user-shape.png) center center no-repeat;
    content: '';
}
.user-box ul{
  display: block;
  width: auto;
  height: auto;
  list-style: none;
}
.user-box li{
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: auto;
  height: auto;

}
.user-box li a{
  position: relative;
  display: block;
  width: auto;
  height: auto;
  font-size: 90%;
  padding: 0 15px 0 25px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  font-weight: 400;
}
.user-register a{
  border: 1px solid #40aee3;
  color: #40aee3;
  text-decoration: none;
}
.user-box li span{
  bottom: -5px;
  left: -17px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
}
.user-register span{
  background: url(../img/user-register.svg) center center no-repeat;
  background-size: cover;
}
.user-login a{
  border: 1px solid #edab1d;
  color: #edab1d;
  text-decoration: none;
}
.user-login span{
  background: url(../img/user-login.svg) center center no-repeat;
  background-size: cover;
}
.user-box li:hover span{
  transform: rotate(30deg);
  transition: transform .2s ease-in-out;
}
  /*============================USER/REGISTER============================*/
   /*============================NAVIGATION============================*/
nav{
  display: block;
  width: 100%;
  height: 100%;
}
.navigation{
  position: fixed;
  display: block;
  top: 18px;
  left: 0px;
  width: 100%;
  height: auto;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  z-index: 11;
}
.nav{
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 460px;
}
.nav ul{
  margin: -3px 0px 0px;
  position: relative;
  display: inline-block;
  list-style: none;

}
.nav ul li{
  position: relative;
  display: inline-block;
  opacity: 0;
  width: auto;
  height: auto;
  animation: fadeInDown .5s forwards;
  -webkit-animation: fadeInDown .5s forwards;
  margin: 0 10px; /*Space of title navigation*/
}
.nav li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 2px 15px 0 25px;
  font-size: 80%;
  line-height: 24px;
  font-weight: 400;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  transition: all .3s ease-in-out;
}
.about-page a {
    border: 1px solid #3a69b2;
    color: #3a69b2;
}
.about-page a:hover{
  background-color: #3a69b2;
  color: #fff;
}
.booking-page a {
    border: 1px solid #00a994;
    color: #00a994;
}
.booking-page a:hover {
  background-color: #00a994;
  color: #fff;
}
.services-page a {
    border: 1px solid #97b52c;
    color: #97b52c;
}
.services-page a:hover {
  background-color: #97b52c;
  color: #fff;
}
.promotion-page a {
    border: 1px solid #e67b25;
    color: #e67b25;
}
.promotion-page a:hover {
  background-color: #e67b25;
  color: #fff;
}
.library-page a {
    border: 1px solid #c894c3;
    color: #c894c3;
}
.library-page a:hover{
  background-color: #c894c3;
  color: #fff;
}
.news-page a {
    border: 1px solid #fbaf39;
    color: #fbaf39;
}
.news-page a:hover {
  background-color:  #fbaf39;
  color: #fff;
}
.contact-page a {
    border: 1px solid #6b68af;
    color: #6b68af;
}
.contact-page a:hover{
  background-color: #6b68af;
  color: #fff;
}

.nav li span{
  position: absolute;
  bottom: -5px;
  left: -17px;
  display: block;
  width: 40px;
  height: 40px;
}
/*---Shake icon in the span--*/
.nav li:hover span{
  transform: rotate(30deg);
  transition: transform .2s ease-in-out;
}

/*---Shake icon in the span--*/
.about-page span{
  background: url(../img/nav-about.svg);
  background-size: cover;
}
.booking-page span{
  background: url(../img/nav-booking.svg);
  background-size: cover;
}
.services-page span{
  background: url(../img/nav-services.svg);
  background-size: cover;
}
.promotion-page span{
  background: url(../img/nav-promotion.svg);
  background-size: cover;
}
.library-page span{
  background: url(../img/nav-library.svg);
  background-size: cover;
}
.news-page span{
  background: url(../img/nav-news.svg);
  background-size: cover;
}
.contact-page span{
  background: url(../img/nav-contact.svg);
  background-size: cover;
}
.nav ul li.home-page{
  animation-delay: 0ms;
  display: none;
}

/* delay every title navigation*/
.nav ul li.about-page{
  animation-delay: 100ms;
}
.nav ul li.booking-page{
  animation-delay: 200ms;
}
.nav ul li.services-page{
  animation-delay: 300ms;
}
.nav ul li.promotion-page{
  animation-delay: 400ms;
}
.nav ul li.library-page{
  animation-delay: 500ms;
}
.nav ul li.news-page{
  animation-delay: 600ms;
}
.nav ul li.contact-page{
  animation-delay: 700ms;
}


/*--------------Create Animation-------------------*/
@keyframes fadeInDown {
  0%{
    opacity: 0;
    transform: translate3d(0,-300px,0);
    -webkit-transform: translate3d(0,-300px,0);
  }
  100%{
    opacity: 1;
    transform: none;
    -webkit-transform:none;
  }
}
@keyframes scaleLarge {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,300px,0);
    transform: translate3d(0,300px,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
   /*============================NAVIGATION============================*/

/*================================SLIDER HOME=================================*/
/*===================================SOCIAL===================================*/
.social{
  position: absolute;
  display: block;
  bottom: 25px;
  right: 65px;
  font-size: 0;
  z-index: 4;
  list-style: none;
}
.social li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
}
.social li a{
  position: relative;
  display: block;
  height: 100%;
  text-indent: -9999px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.facebook{
  background: url(../img/social-facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}
.social li a:hover{
  transform: translateY(-5px);
}
.youtube{
  background: url(../img/social-youtube.png);
  background-position: center;
  background-repeat: no-repeat;
}
.googleplus{
  background: url(../img/social-google.png);
  background-position: center;
  background-repeat: no-repeat;
}
/*===================================SOCIAL===================================*/
.container{
  position: relative;
  display: block;
  background-color: #fff;
  top: 60px;
  width: 100%;
  height: auto;
  opacity: 1;
  overflow: hidden;
}
.slider-home {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}
.slide-bg{
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;

}
.item-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  transition-property: transform;

}
.item-container{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  transform: translate3d(0,0,0);
  transition-property: transform;
  z-index: 10!important;
}
.pagination{
  position: absolute;
  right: 20px;
  top: 50%;
  width: auto;
  transform: translate(0,-50%, 0);
  transition: .3s;
  margin: 10px auto;
  display: block;
  z-index: 10;
}
.bg-home {
  background-image: url('https://snowtownsaigon.com/pictures/catalog/BANNER.png');
  background-size: cover;
  width: 100%;
  height: 830px;
  position: relative;
  animation: fadeIn .9s;
  -webkit-animation: fadeIn .9s;
  }
  .bg-home, .banner-over{
    opacity: 0;
    display: block;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }

  .banner-over {
    background-image: url('');
    -webkit-animation: scaleSmall 1.2s;
    animation: scaleSmall 1.2s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.banner-hide {
  background-image: url('https://snowtownsaigon.com/catalog/view/theme/default/images/banner-hide.png');
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 150px;
  bottom: 0;
  display: block;
}

.left-content {
  position: absolute;
  width: 30%;
  height: auto;
  max-width: 440px;
  top: 25%;
  left: 3%;
  text-transform: uppercase;
  display: block;
  animation: goRight .9s linear 1;
  animation-fill-mode: forwards;
}
.left-over{
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;

}
.view{
  position: absolute;
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 400px;
  transition: all .3s ease-in-out;
  border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  -webkit-border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  background: linear-gradient(0deg,rgba(217,111,204,.9) 0,rgba(91,136,214,.8) 50%,rgba(255,255,255,.5) 100%);
  animation: AnimationBox 5s infinte linear;
  -webkit-animation: AnimationBox 5s infinite linear;
}
.view::before, .view::after{
  position: absolute;
  width: 110%;
  height: 110%;
  content: '';
}
.view::before{
  top: 5%;
  left: 5%;
  box-shadow: 0 0 80px rgba(91,136,214,.8), inset 0 0 80px rgba(91,136,214,.8);
  -webkit-border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  animation: AnimationBox 3s infinte linear;
  -webkit-animation: AnimationBox 3s infinite linear;
}
.view::after{
  top: -5%;
  left: -5%;
  box-shadow: 0 0 80px rgba(217,111,204,.9), inset 0 0 80px rgba(217,111,204,.9);
  border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  animation: AnimationBox 7s infinte linear;
  -webkit-animation: AnimationBox 7s infinite linear;
}
.left-box{
  font-weight: 700;
  line-height: 1.4;
  display: block;
  padding: 60px;
  position: relative;
}
.left-box h2{
  color: #fff;
  font-size: 200%;
  text-shadow: 5px 5px 0 rgba(0,0,0,.1);

}
.left-box h3{
  color: #ff7b00;
  font-size: 140%;
  text-shadow:  1px 1px 0 rgba(255,255,255,.3);
}
.plane, .circlex{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.plane{
  transform-style: preserve-3d;
  border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  -webkit-border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  overflow: hidden;
}
.circlex{
  animation: RotateBox 20s infinite linear;
  -webkit-animation: RotateBox 20s infinite linear;
  -webkit-border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
  border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
}
/*--------Create Animation----------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes goRight {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes AnimationBox {
  0%, 100%{
    border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
    -webkit-border-radius: 40% 100% 100% 50%/50% 80% 80% 100%;
    transform: none;
    -webkit-transform: none;
  }
  50%{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    transform: translate3d(0,0,10px);
    -webkit-transform: translate3d(0,0,10px);
  }
  70%{
    border-radius: 100% 50% 40% 100%/80% 50% 90% 80%;
    -webkit-border-radius: 100% 50% 40% 100%/80% 50% 90% 80%;
    transform: translate3d(8px,8px,-8px);
    -webkit-ransform: translate3d(8px,8px,-8px);
  }
}
@keyframes RotateBox {
  0%{
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    box-shadow: 0 0 80px rgba(255,255,255,.6), inset 0 0 80px rgba(255,255,255,.6);
  }
  50% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    box-shadow: 0 0 80px rgba(255,255,255,.1), inset 0 0 80px rgba(255,255,255,.1);
  }
  100% {
  -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  box-shadow: 0 0 80px rgba(255,255,255,.6), inset 0 0 80px rgba(255,255,255,.6);
  }
}
/* Scale bg-image*/
@keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: scale(.9);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
/*==========================scroll-down button on the slide===================*/
.scroll-down{
  border: 1px solid rgba(63,103,175,1);
  width: 30px;
  height: 54px;
  position: absolute;
  left: 50%;
  top: auto;
  margin: 0 0 0 -15px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: absolute;
  z-index: 9;
}
.scroll-down::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #3a63ad;
  width: 5px;
  height: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: trackBallSlide 1s ease infinite;
  animation: trackBallSlide 1s ease infinite;
}

@keyframes trackBallSlide {
  0%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(15px);
    opacity: 0;
  }
  100%{
    transform: translateY(-15px);
  }
}
/*==========================scroll-down button on the slide===================*/


/*===============================END SLIDER HOME==============================*/
